@using Microsoft.AspNetCore.Identity
@using DotNetCoreCalendar.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin"))
{
    <li class="nav-item dropdown show">
        <a class="dropdown-toggle nav-link text-dark" href="#" data-toggle="dropdown">Admin</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-controller="RoleManager" asp-action="Index"><i class="fas fa-box mr-2"></i>Roles Manager</a>
            <a class="dropdown-item" asp-controller="UserRoles" asp-action="Index"><i class="fas fa-users mr-2"></i>User Roles Manager</a>
            

            
        </div>
    </li>
}
else
{
}
