@{
    ViewData["Title"] = "Home Page";
}

<script>

      @*document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: @Html.Raw(ViewData["Events"]),
            resources: @Html.Raw(ViewData["Resources"]),
            headerToolbar: {
                left: 'today prev,next',
                center: 'title',
                right: 'timeGridWeek,dayGridMonth,listMonth'
            },
        });
        calendar.render();
      });*@

</script>

<div class="text-center">
    <h1 class="display-4">Welcome To the Calendar App!</h1>
    <div id="calendar"></div>
    <a href="/MyCalendar">View your Calendar here</a>
</div>

<div class="row">
    <div class="col-md-6">
        <a href="/Event"><h3>manage Events here</h3></a>
    </div>
    <div class="col-md-6">
        <a href="/Location"><h3>manage Location</h3></a>
    </div>
</div>
